<html>
    <head>
      <meta charset="UTF-8">
      <link rel="shortcut icon" href="images/favicon.png"> <!-- Favicon -->
      <meta name="Description" content="LogIn">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
      <title><%= locals.title %></title>
      <link rel="stylesheet" href="stylesheets/login/login.css">
        
    </head>

    <body>
    
        <div class="login-page">
        <h1 class="white text-center">ÁREA ADMINISTRATIVA</h3>
            <div class="form">

              <form class="login-form" name="form_login" action="/administrators" method="get"> <!-- TODO Mudar para post e colocar um endpoint diferente -->
                <img src="images/login/user.png" class="pa-0" id="icon"/>

                <input type="text" name="nome" id="nome" placeholder="Utilizador" required/>

                <input type="password" name="password" id="password" placeholder="Password" required/>
                <span class="show-btn"><i class="fas fa-eye"></i></span>

                <button type="submit">login</button> <br>
              </form>

              <a class="esquecer_senha" href="form_esquecer_senha.html">Esqueceu-se da senha?</a>

              <p style='color: red;' name="erro" id="erro"></p>

            </div>

            <p class="white text-center">Recicla Têxtil</p>
          </div>
    </body>
</html>

<script>
  const passField = document.getElementById("password");
  const showBtn = document.querySelector("span i");
  showBtn.onclick = (()=>{
    if(passField.type === "password"){
      passField.type = "text";
      showBtn.classList.add("hide-btn");
    }else{
      passField.type = "password";
      document.getElementById("password").type="password";
      showBtn.classList.remove("hide-btn");
    }
  });
</script>