<html>
    <head>
      <meta charset="UTF-8">
      <link rel="shortcut icon" href="images/favicon.png"> <!-- Favicon -->
      <meta name="Description" content="LogIn">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
      <title><%= locals.title %></title>
      <link rel="stylesheet" href="stylesheets/login/login.css">
        
    </head>

    <body>
    
        <div class="login-page">
        <h1 class="white text-center">ÁREA ADMINISTRATIVA</h3>
            <div class="form">

              <form class="login-form" name="form_login" action="/login" method="post">
                <img src="images/login/user.png" class="pa-0" id="icon"/>

                <input type="email" name="email" id="email" placeholder="Email" required/>

                <div>
                  <input type="password" name="password" id="password" placeholder="Password" required/>
                  <span class="show-btn"><i class="fas fa-eye"></i></span>
                </div>
                

                <button type="submit">login</button>
              </form>

              <!-- <a class="esquecer_senha" href="form_esquecer_senha.html">Esqueceu-se da senha?</a> -->

              <p name="erro" id="erro"></p>

            </div>

            <p class="white text-center">Recicla Têxtil</p>
          </div>
    </body>
</html>

<!-- Mostrar a mensagem de erro, se existir um parametro de erro no url -->
<script>
  // Obter os parametros do utl
  const urlParams = new URLSearchParams(window.location.search);
  const error = urlParams.get('error');

  // Exibir a mensagem de erro no parágrafo com id "erro"
  const errorParagraph = document.getElementById("erro");
  if (error) {
    errorParagraph.textContent = error;
  }
</script>

<!-- Script para mostrar a password -->
<script>
  const passField = document.getElementById("password");
  const showBtn = document.querySelector("span i");
  showBtn.onclick = (()=>{
    if(passField.type === "password"){
      passField.type = "text";
      showBtn.classList.add("hide-btn");
    } else {
      passField.type = "password";
      document.getElementById("password").type="password";
      showBtn.classList.remove("hide-btn");
    }
  });
</script>