<section>
    <div class="main container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3"></div>
            
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="main-img text-center">
                    <img src="../../../assets/img/404/main.png" alt="Main" class="img-fluid pb-3">

                    <h2>Página não encontrada</h2>
                    <p class="main-description pt-2">Lamentamos, mas não foi possível encontrar a página que solicitou.</p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-3"></div>
        </div>
    </div>
</section>