<!-- header-start -->
<header>
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-lg-8">
                        <div class="short_contact_list">
                            <ul>
                                <li><a href="#"> <i class="fa fa-phone"></i> 760 100 200</a></li>
                                <li><a href="#"> <i class="fa fa-envelope"></i>reciclatextilcomercial&#64;gmail.com</a></li> <!--&#64; é um @ em angular -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-4">
                        <div class="social_media_links d-none d-lg-block">
                            <a href="https://www.youtube.com/watch?v=NnLO1yupSoM" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=BSD8nO30tbE" target="_blank">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=h_D3VFfhvs4" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=Zi_XLOBDo_Y" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="../../../assets/img/logo.png" alt="Recicla Têxtil">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="#inicialPage">Home</a></li>
                                    <li><a href="#SobreNos">Sobre Nós</a></li>
                                    <li><a href="#ContactSection">Contacto</a></li>
                                    <li><a routerLink="/auth/login/entity">Entidade <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a routerLink="/auth/login/entity">Entrar</a></li>
                                            <li><a routerLink="/auth/registerEntity">Registar</a></li>
                                        </ul>
                                    </li>
                                    <li><a routerLink="/auth/login">Doador <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a routerLink="/auth/login">Entrar</a></li>
                                            <li><a routerLink="/auth/registerDonor">Registar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area" id="inicialPage">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="slider_text ">
                        <span>Comece Hoje.</span>
                        <h3>Ajude a reciclar têxteis</h3>
                        <p>Doe os seus têxteis não utilizados para reutilização e apoie instituições sociais. Ganhe
                            pontos por
                            suas doações!</p>
                        <!-- <a href="about.html" class="boxed-btn3">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->


<!-- reson_area_start  -->
<div class="reson_area section_padding" id="SobreNos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Motivos para Ajudar</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="../../../assets/img/help/1.png" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Valorização Social</h4>
                        <p>Ajude a promover a valorização social através da reciclagem de têxteis pós-consumo.</p>
                        <!-- <a href="#" class="read_more">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="../../../assets/img/help/2.png" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Benefícios para a Comunidade</h4>
                        <p>Ajude a comunidade doando têxteis que não utiliza mais, beneficiando instituições
                            sociais.</p>
                        <!-- <a href="#" class="read_more">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="../../../assets/img/help/3.png" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Sustentabilidade Ambiental</h4>
                        <p>Ajude a preservar o meio ambiente ao reciclar seus têxteis usados.</p>
                        <!-- <a href="#" class="read_more">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- reson_area_end  -->

<!-- latest_activites_area_start  -->
<div class="latest_activites_area mb-lg-8">
    <div class="video_bg_1 video_activite  d-flex align-items-center justify-content-center">
        <a class="" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <i class="flaticon-ui"></i>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="activites_info">
                    <div class="section_title">
                        <h3> <span>Veja as Nossas Últimas </span><br>
                            Atividades</h3>
                    </div>
                    <p class="para_1">Fique por dentro das últimas novidades e iniciativas da empresa
                        <strong style="color: #57b846; font-style: italic;">"Recicla Têxtil"</strong> para promover
                        a valorização social e a reciclagem de têxteis
                        pós-consumo.
                    </p>
                    <p class="para_2">Assista aos nossos vídeos para saber mais sobre como você pode contribuir e
                        fazer a diferença na comunidade, enquanto ajuda o meio ambiente através da reciclagem.</p>
                    <a href="#" data-scroll-nav='1' routerLink="/auth/login" class="boxed-btn4">Faça uma Doação</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- latest_activites_area_end  -->


<!-- counter_area_start  -->
<div class="counter_area">
    <div class="container">
        <div class="counter_bg overlay">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">{{counterAreaNumbers.numDonors}}</h3>
                            <p style="font-size: smaller;">Doadores Ativos</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-heart-beat"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">{{counterAreaNumbers.numEntities}}</h3>
                            <p style="font-size: smaller;">Entidades Beneficiadas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-in-love"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">{{counterAreaNumbers.numDonations}}</h3>
                            <p style="font-size: smaller;">Doações Realizadas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-hug"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">{{counterAreaNumbers.numItems}}</h3>
                            <p style="font-size: smaller;">Items Doados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter_area_end  -->

<!-- Começo área fundadores  -->
<div class="our_volunteer_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Fundadores</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" id="NELSON">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="../../../assets/img/fundadores/nelson.jpg" height="294" width="313" alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Nelson</h4>
                            <p>Foudation CEO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="../../../assets/img/fundadores/Hugo.jpg" height="294" width="313"  alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Hugo</h4>
                            <p>SCRUM Knight</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="../../../assets/img/fundadores/pedro.jpg" height="294" width="313" alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Pedro</h4>
                            <p>Titan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fim area fundadores  -->

<!--Contact_Start-->
<section class="contact-section" id="ContactSection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Contacto</span></h3>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-block mb-5 pb-4">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95888.86119898247!2d-8.26747851196933!3d41.319154317696814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24ebb9287835e1%3A0xca919ba04ec42efc!2sESTG%20-%20Escola%20Superior%20de%20Tecnologia%20e%20Gest%C3%A3o%20%7C%20Polit%C3%A9cnico%20do%20Porto!5e0!3m2!1spt-PT!2spt!4v1714643563141!5m2!1spt-PT!2spt"  height="480" width="100%" style="border:0; position: relative;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

        <div class="row">
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="material-icons">home</i></span>
                    <div class="media-body">
                        <h3>R. do Curral</h3>
                        <p>4610-156 Margaride</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="material-icons">tablet</i></span>
                    <div class="media-body">
                        <h3>760 100 200</h3>
                        <p>Seg a Sex 9h às 18h.</p>
                        <p>1.5€ mais IVA</p>
                        <p>Quanto mais vezes ligar, mais chances tem de ganhar!</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="material-icons">email</i></span>
                    <div class="media-body">
                        <h3>reciclatextilcomercial&#64;gmail.com</h3>
                        <p>Envie-nos sua dúvida a qualquer momento!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Contact_End-->

<!-- footer_start  -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="../../../assets/img/logo.png" alt="Logótipo">
                            </a>
                        </div>
                        <p class="address_text">Nós somos uma fundação humilde e <br>  sempre pronta e disponivel para ajudar o próximo<br>
                            como o nosso <a href="#NELSON">CEO</a>
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=F2YpXC1itEE" target="_blank">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=sOnqjkJTMaA" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=Hf0lmtOqKeQ" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=qQzdAsjWGPg" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contacts
                        </h3>
                        <div class="contacts">
                            <p>760 100 200 <br>
                                reciclatextilcomercial&#64;gmail.com <br>
                                R. do Curral
                                4610-156 Margaride
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text" style="text-align: center;">
        <div class="container">
            <div class="row">
                <div class="bordered_1px "></div>
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Grupo 7 PAW
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> <!-- TODO -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer_end  -->