<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" (ngSubmit)="resetPassword()" style="padding: 178px 55px 0 55px;">
                <span class="login100-form-title">
                    Repôr Password
                </span>

                <div class="wrap-input100 validate-input mb-md-3">
                    <input class="input100" type="password" name="password1" [(ngModel)]="newPassword" placeholder="Nova Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input mt-3 mb-3">
                    <input class="input100" type="password" name="password" [(ngModel)]="confirmPassword" placeholder="Repetir Password">
                    <span class="focus-input100"></span>
                </div>


                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Submeter
                    </button>
                </div>

                <div class="text-center pt-4 pb-md-4"> 
                    @if (error) {
                        <span class="txt3 text center position-relative" style="color: red;">
                            {{error}}
                        </span>
                    }
                </div>

            </form>
        </div>
    </div>
</div>