<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" (ngSubmit)="login()" style="padding: 178px 55px 0 55px;">
                <span class="login100-form-title">
                    <span *ngIf="userType === 'donor'">Login Doador</span>
                    <span *ngIf="userType === 'entity'">Login Entidade</span>
                </span>

                <div class="wrap-input100 validate-input mb-md-3">
                    <input class="input100" type="email" name="email" [(ngModel)]="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input mt-3">
                    <input class="input100" type="password" name="password" [(ngModel)] = "password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>


                <div class="container-login100-form-btn mt-3">
                    <button type="submit" class="login100-form-btn">
                        Entrar
                    </button>
                </div>

                <div class="text-right mb-3 mt-md-2">
                    <span class="txt1">
                        Esqueceu
                    </span>

                    <button (click)="redirectForgotPassword()" class="txt2">
                        Password?
                    </button>
                </div>

                <div class="text-center pt-4 pb-md-4"> 
                    @if (error) {
                        <span class="txt3 text center position-relative" style="color: red;">
                            {{error}}
                        </span>
                    }
                </div>

                <div class="flex-col-c text-center" style="padding: 170px 0 40px 0;">
                    <span class="txt1">
                        Não tem conta?
                    </span><br>

                    <button (click)="redirectToRegister()" class="txt3">
                        Regista-te agora
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>