<div mat-dialog-content class="success-dialog-content">
    <div class="success-header">
        <h2 class="success-title">Sucesso</h2>
        <button mat-icon-button mat-dialog-close class="close-button">
            <mat-icon>close</mat-icon>
        </button>

    </div>
    <hr>
    <div class="success-message">
        <div class="container">
            <span class="check-emoji"><i class="material-icons">check</i></span> <!-- Emoji do "certo" -->
        </div>
        <p>{{ data.message }}</p>
    </div>
</div>