<!--Área de Pesquisa e adição-->
<div class="d-flex justify-content-end">
  <a class="btn btn-success" data-toggle="modal" data-target="#inserir" style="background-color: #4caf50; border: none"
    href="/conditions/create">Adicionar</a>
</div>

<!--Fim da Área de Pesquisa e adição-->

<!--Tabela da base de dados-->
<div class="table-responsive-sm">
  <% if(conditions.length> 0) { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Condição</th>
          <th scope="col">Pontos por Grama</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i< conditions.length;i++) { %>
          <tr>
            <th scope="row"></th>
            <td>
              <%= conditions[i].condition %>
            </td>
            <td>
              <%= conditions[i].pointsPerKg %>
            </td>
            <td>
              <form action="/conditions/remove/<%= conditions[i]._id %>" method="get">
                <button type="submit" onclick="return confirmar();" style="border: none; background-color: transparent">
                  <i class="material-icons green">delete</i>
                </button>
              </form>
            </td>
            <td>
              <form action="/conditions/edit/<%= conditions[i]._id %>" method="get">
                <button type="submit" style="border: none; background-color: transparent">
                  <i class="material-icons green">mode_edit</i>
                </button>
              </form>
            </td>
          </tr>

          <% } %>
      </tbody>

      <% } else { %>
        <div>Não foi encontrado nenhuma condição.</div>
        <% } %>

    </table>
</div>
<!--Fim da Tabela da base de dados-->